html
    head
        title= 'Strona glowna'
    style
        include style.css
    body
        div#naglowek
            p#wstep   Moj Quiz<br>Rozpocznij przyciskiem start.<br>
                     | Przycisk nastepny prowadzi do nastepnego pytania, a poprzedni do poprzedniego<br>
                     | Przyciskiem anuluj mozna anulowac test i nie zapisywac statystyk<br>
                     | Przyscisk stop pojawia sie po odpowiedzeniu na wszystkie pytania, konczy test i oblicza punktacje
            input(type="hidden" name="_csrf" value=csrftoken)
            div#dostepUzytkownika
                if logged_in
                    form(action="/wylogowanie" method="post")
                        button#logowanie(type="submit") Wyloguj sie
                    form(action="/zmiana_hasla" method="get")
                        button#zmiana_hasla Zmien haslo
                    form(action="/zobaczstaty" method="get")
                        button#zobaczstaty Zobacz statystyki
                else
                    form(action="/logowanie" method="get")
                        button#logowanie(type="submit") Zaloguj sie
                    form(action="/rejestracja" method="get")
                        button#logowanie(type="submit") Zarejestruj sie

            div#start_div
                select#wyborTestow
                    each test in tests
                        option(value= test.id) #{"test numer: " + test.id}
                button#start_btn Start
                ol#stat
                p#infobledy

            div#wrapper.srodek_div
                div#dodatkoweinfo
                    article#kara
                    article#numerpytania
                    article#liczbapytania
                    article#odliczanie
                        p#timer
                div#main_question_div
                    article#question_text
                    div#answer
                        input#text_odp(type="text" name="answer")
                div#guziki
                    button.button Anuluj
                    button.button#stopBtn Stop
                    button.button Poprzednie
                    button.button#nastBtn Nastepne
                div#app
            div#wyniki_div.srodek_div
                div#rezultat
                button.stat_btn Zapisz wynik ze statystykami
        script(src="/js/scr.js")
        

